<nav id="docs-navbar" class="docs-nav visible-md visible-lg" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
    <ul class="nav" id="main-nav">
        <li id="home_element"><a class="docs-home" href="~/">TACO Home</a></li>

        <li id="get_started_element" class="panel">
            <a class="area drop" href="#get_started_articles" data-parent="#main-nav" data-toggle="collapse">Get Started</a>
            <ul id="get_started_articles" class="collapse">

                <li id="get-started-vs-tools-apache-cordova"><a href="~/en-us/docs/get-started-vs-tools-apache-cordova/">Get started</a></li>

                <li id="install-vs-tools-apache-cordova"><a href="~/en-us/docs/install-vs-tools-apache-cordova/">Install the tools</a></li>

                <li id="configure-vs-tools-apache-cordova"><a href="~/en-us/docs/configure-vs-tools-apache-cordova/">Configure the tools</a></li>

                <li id="create-first-app-using-vs-tools-apache-cordova"><a href="~/en-us/docs/create-first-app-using-vs-tools-apache-cordova/">Create your first app</a></li>

                <li id="migrate-to-vs2015"><a href="~/en-us/docs/migrate-to-vs2015/">Migrate your project to Visual Studio 2015</a></li>

            </ul>
        </li>

        <li id="develop_element" class="panel">
            <a class="area" href="#develop_articles" data-parent="#main-nav" data-toggle="collapse">Develop</a>
            <ul id="develop_articles" class="collapse">

                <li id="tutorial-cordova-5-readme"><a href="~/en-us/docs/tutorial-cordova-5-readme/">Use Apache Cordova 5</a></li>

                <li id="cordova-5-security"><a href="~/en-us/docs/cordova-5-security/">Learn about Cordova 5 security</a></li>

                <li id="configure-app"><a href="~/en-us/docs/configure-app/">Configure your app</a></li>

                <li id="manage-plugins"><a href="~/en-us/docs/manage-plugins/">Manage plugins</a></li>

                <li id="createplugintutorial"><a href="~/en-us/docs/createplugintutorial/">Create a plugin</a></li>

                <li id="create-plugin-windows-phone"><a href="~/en-us/docs/create-plugin-windows-phone/">Create a plugin for Windows</a></li>

                <li id="add-connected-services"><a href="~/en-us/docs/add-connected-services/">Connect a cloud service</a></li>

                <li id="access-native-cordova-project"><a href="~/en-us/docs/access-native-cordova-project/">Access a native Cordova project</a></li>

                <li id="tutorial-gulp-readme"><a href="~/en-us/docs/tutorial-gulp-readme/">Use Gulp to automate tasks</a></li>

                <li id="gulp-ci"><a href="~/en-us/docs/gulp-ci/">Use Gulp to build a project</a></li>

                <li id="gulp-task-runner-explorer"><a href="~/en-us/docs/gulp-task-runner-explorer/">Invoke Gulp tasks</a></li>

                <li id="tutorial-typescript"><a href="~/en-us/docs/tutorial-typescript/">Use TypeScript</a></li>

                <li id="gulp-typescript"><a href="~/en-us/docs/gulp-typescript/">Compile TypeScript with Gulp</a></li>

                <li id="tutorial-using-bower"><a href="~/en-us/docs/tutorial-using-bower/">Add packages by using Bower</a></li>

                <li id="tutorial-nuget"><a href="~/en-us/docs/tutorial-nuget/">Add packages by using NuGet</a></li>

                <li id="interoperability"><a href="~/en-us/docs/interoperability/">Walkthrough: Use third-party command line tools</a></li>

            </ul>
        </li>

        <li id="debug_and_test_element" class="panel">
            <a class="area" href="#debug_and_test_articles" data-parent="#main-nav" data-toggle="collapse">Debug & Test</a>
            <ul id="debug_and_test_articles" class="collapse">

                <li id="deploy-and-run-app"><a href="~/en-us/docs/deploy-and-run-app/">Deploy and run your app</a></li>

                <li id="run-app-ripple-simulator"><a href="~/en-us/docs/run-app-ripple-simulator/">Run your app on Apache Ripple</a></li>

                <li id="run-app-apache"><a href="~/en-us/docs/run-app-apache/">Run your Android app</a></li>

                <li id="run-app-ios"><a href="~/en-us/docs/run-app-ios/">Run your iOS app</a></li>

                <li id="run-app-windows"><a href="~/en-us/docs/run-app-windows/">Run your Windows app</a></li>

                <li id="run-app-windows-phone"><a href="~/en-us/docs/run-app-windows-phone/">Run your Windows Phone app</a></li>

                <li id="run-android-emulator-on-osx-using-parallels"><a href="~/en-us/docs/run-android-emulator-on-osx-using-parallels/">Run Android Emulator on OSX using Parallels</a></li>

                <li id="build_ios_cloud"><a href="~/en-us/docs/build_ios_cloud/">Build and simulate iOS in the cloud</a></li>

                <li id="build_ios_parallels"><a href="~/en-us/docs/build_ios_parallels/">Build iOS using Parallels</a></li>

                <li id="debug-using-visual-studio"><a href="~/en-us/docs/debug-using-visual-studio/">Debug Your app</a></li>

                <li id="debug-using-vs-diagnostic-tools"><a href="~/en-us/docs/debug-using-vs-diagnostic-tools/">Walkthrough: Debug your app</a></li>

                <li id="alm-cordova"><a href="~/en-us/docs/alm-cordova/">Use ALM</a></li>

                <li id="tutorial-team-build-readme"><a href="~/en-us/docs/tutorial-team-build-readme/">Build your app in a Team / Continuous Integration (CI) environment </a></li>

                <li id="general"><a href="~/en-us/docs/general/">Get started with a Team / CI environment</a></li>

                <li id="tfs2015"><a href="~/en-us/docs/tfs2015/">Use TFS 2015 or Visual Studio Online</a></li>

                <li id="tfs2013"><a href="~/en-us/docs/tfs2013/">Use TFS 2013</a></li>

                <li id="jenkins"><a href="~/en-us/docs/jenkins/">Use Jenkins</a></li>

                <li id="karma"><a href="~/en-us/docs/karma/">Test with Karma</a></li>

                <li id="chutzpah"><a href="~/en-us/docs/chutzpah/">Test with Chutzpah</a></li>

            </ul>
        </li>

        <li id="package_and_publish_element" class="panel">
            <a class="area" href="#package_and_publish_articles" data-parent="#main-nav" data-toggle="collapse">Package & Publish</a>
            <ul id="package_and_publish_articles" class="collapse">

                <li id="package-app-built-with-visual-studio"><a href="~/en-us/docs/package-app-built-with-visual-studio/">Package Your app</a></li>

                <li id="tutorial-package-publish-readme"><a href="~/en-us/docs/tutorial-package-publish-readme/">Walkthrough: Package and publish your app</a></li>

                <li id="get-your-app-approved"><a href="~/en-us/docs/get-your-app-approved/">Get your app approved</a></li>

                <li id="publish-app-built-with-visual-studio"><a href="~/en-us/docs/publish-app-built-with-visual-studio/">Publish your app</a></li>

            </ul>
        </li>

        <li id="tutorials_and_samples_element" class="panel">
            <a class="area" href="#tutorials_and_samples_articles" data-parent="#main-nav" data-toggle="collapse">Tutorials & Samples</a>
            <ul id="tutorials_and_samples_articles" class="collapse">

                <li id="tutorial-ionic"><a href="~/en-us/docs/tutorial-ionic/">Get started with Ionic</a></li>

                <li id="O365_Files"><a href="~/en-us/docs/o365_Files/">O365 Files API</a></li>

                <li id="O365_Ionic"><a href="~/en-us/docs/o365_Ionic/">O365 Outlook and Ionic</a></li>

                <li id="convert_cordova_phonegap"><a href="~/en-us/docs/convert_cordova_phonegap/">Convert a Cordova project to PhoneGap</a></li>

            </ul>
        </li>

        <li id="tips_and_workarounds_element" class="panel">
            <a class="area" href="#tips_and_workarounds_articles" data-parent="#main-nav" data-toggle="collapse">Tips & Workarounds</a>
            <ul id="tips_and_workarounds_articles" class="collapse">

                <li id="tips-and-workarounds-general-readme"><a href="~/en-us/docs/tips-and-workarounds-general-readme/">General</a></li>

                <li id="tips-and-workarounds-android-readme"><a href="~/en-us/docs/tips-and-workarounds-android-readme/">Android</a></li>

                <li id="tips-and-workarounds-ios-readme"><a href="~/en-us/docs/tips-and-workarounds-ios-readme/">iOS and OSX</a></li>

                <li id="tips-and-workarounds-performance-readme"><a href="~/en-us/docs/tips-and-workarounds-performance-readme/">Performance</a></li>

                <li id="tips-and-workarounds-ios-ios-plugin-symlink-fix-readme"><a href="~/en-us/docs/tips-and-workarounds-ios-ios-plugin-symlink-fix-readme/">Symlink and iOS plugins</a></li>

                <li id="tips-and-workarounds-ios-osx-set-execute-readme"><a href="~/en-us/docs/tips-and-workarounds-ios-osx-set-execute-readme/">Errors from files in Platforms folder</a></li>

            </ul>
        </li>

        <li id="known_issues_element" class="panel">
            <a class="area" href="#known_issues_articles" data-parent="#main-nav" data-toggle="collapse">Known Issues</a>
            <ul id="known_issues_articles" class="collapse">

                <li id="known-issues-general"><a href="~/en-us/docs/known-issues-general/">General</a></li>

                <li id="known-issues-debugger"><a href="~/en-us/docs/known-issues-debugger/">Debugger</a></li>

                <li id="known-issues-ripple-cordova"><a href="~/en-us/docs/known-issues-ripple-cordova/">Apache Cordova & Ripple general</a></li>

                <li id="known-issues-cordova5"><a href="~/en-us/docs/known-issues-cordova5/">Apache Cordova 5.x.x</a></li>

                <li id="known-issues-android"><a href="~/en-us/docs/known-issues-android/">Android platform</a></li>

                <li id="known-issues-ios"><a href="~/en-us/docs/known-issues-ios/">iOS platform</a></li>

                <li id="known-issues-windows"><a href="~/en-us/docs/known-issues-windows/">Windows, Windows Phone 8.1</a></li>

                <li id="known-issues-vs2015"><a href="~/en-us/docs/known-issues-vs2015/">Visual Studio 2015</a></li>

                <li id="known-issues-vs2013"><a href="~/en-us/docs/known-issues-vs2013/">CTP 3.1/Visual Studio 2013</a></li>

                <li id="known-issues-npm"><a href="~/en-us/docs/known-issues-npm/">Nuget Package Manager</a></li>

                <li id="known-issues-plugin-install"><a href="~/en-us/docs/known-issues-plugin-install/">Nuget Package Manager</a></li>

            </ul>
        </li>
    </ul>
</nav>
<nav id="small-nav" class="docs-nav hidden-md hidden-lg">
    <h4>Topics</h4>
    <select id="small-nav-dropdown" onChange="window.location.href=this.value">
        <option value="~/" id="home-option">TACO Home</option>

        <optgroup label="Get Started">

            <option value="~/en-us/docs/get-started-vs-tools-apache-cordova/" id="get-started-vs-tools-apache-cordova-option">Get started</option>

            <option value="~/en-us/docs/install-vs-tools-apache-cordova/" id="install-vs-tools-apache-cordova-option">Install</option>

            <option value="~/en-us/docs/configure-vs-tools-apache-cordova/" id="configure-vs-tools-apache-cordova-option">Configure</option>

            <option value="~/en-us/docs/create-first-app-using-vs-tools-apache-cordova/" id="create-first-app-using-vs-tools-apache-cordova-option">Create an app</option>

            <option value="~/en-us/docs/migrate-to-vs2015/" id="migrate-to-vs2015-option">Migrate your project</option>

        </optgroup>

        <optgroup label="Develop">

            <option value="~/en-us/docs/tutorial-cordova-5-readme/" id="tutorial-cordova-5-readme-option">Use Apache Cordova 5</option>

            <option value="~/en-us/docs/cordova-5-security/" id="cordova-5-security-option">Cordova 5 security</option>

            <option value="~/en-us/docs/configure-app/" id="configure-app-option">Configure your app</option>

            <option value="~/en-us/docs/manage-plugins/" id="manage-plugins-option">Manage plugins</option>

            <option value="~/en-us/docs/createplugintutorial/" id="createplugintutorial-option">Create a plugin</option>

            <option value="~/en-us/docs/create-plugin-windows-phone/" id="create-plugin-windows-phone-option">Create a plugin for Windows</option>

            <option value="~/en-us/docs/add-connected-services/" id="add-connected-services-option">Connect a cloud service</option>

            <option value="~/en-us/docs/access-native-cordova-project/" id="access-native-cordova-project-option">Access a native Cordova project</option>

            <option value="~/en-us/docs/tutorial-gulp-readme/" id="tutorial-gulp-readme-option">Use Gulp</option>

            <option value="~/en-us/docs/gulp-ci/" id="gulp-ci-option">Build with Gulp</option>

            <option value="~/en-us/docs/gulp-task-runner-explorer/" id="gulp-task-runner-explorer-option">Invoke a Gulp task</option>

            <option value="~/en-us/docs/tutorial-typescript/" id="tutorial-typescript-option">Use TypeScript</option>

            <option value="~/en-us/docs/gulp-typescript/" id="gulp-typescript-option">Compile TypeScript with Gulp</option>

            <option value="~/en-us/docs/tutorial-using-bower/" id="tutorial-using-bower-option">Use Bower package manager</option>

            <option value="~/en-us/docs/tutorial-nuget/" id="tutorial-nuget-option">Use NuGet package manager</option>

            <option value="~/en-us/docs/interoperability/" id="interoperability-option">use 3rd party command line tools</option>

        </optgroup>

        <optgroup label="Debug & Test">

            <option value="~/en-us/docs/deploy-and-run-app/" id="docs/deploy-and-run-app-option">Deploy and run</option>

            <option value="~/en-us/docs/run-app-apache/" id="docs/run-app-apache-option">Run Android</option>

            <option value="~/en-us/docs/run-app-ripple-simulator/" id="run-app-ripple-simulator-option">Run in Ripple</option>

            <option value="~/en-us/docs/run-app-apache/" id="docs/run-app-apache-option">Run Android</option>

            <option value="~/en-us/docs/run-app-ios/" id="run-app-ios-option">Run iOS</option>

            <option value="~/en-us/docs/run-app-windows/" id="run-app-windows-option">Run Windows</option>

            <option value="~/en-us/docs/run-app-windows-phone/" id="run-app-windows-phone-option">Run Windows Phone</option>

            <option value="~/en-us/docs/run-android-emulator-on-osx-using-parallels/" id="run-android-emulator-on-osx-using-parallels-option">Run Android Emulator on OSX using Parallels</option>

            <option value="~/en-us/docs/build_ios_cloud/" id="build_ios_cloud-option">Build and simulate iOS in the cloud</option>

            <option value="~/en-us/docs/run-android-emulator-on-osx-using-parallels/" id="run-android-emulator-on-osx-using-parallels-option">Build iOS using Parallels</option>

            <option value="~/en-us/docs/debug-using-visual-studio/" id="debug-using-visual-studio-option">Debug Your App</option>

            <option value="~/en-us/docs/debug-using-vs-diagnostic-tools/" id="debug-using-vs-diagnostic-tools-option">Walkthrough: Debug your app</option>

            <option value="~/en-us/docs/alm-cordova/" id="alm-cordova-option">ALM</option>

            <option value="~/en-us/docs/tutorial-team-build-readme/" id="tutorial-team-build-readme-option">Build your app in a Team / CI Environment</option>

            <option value="~/en-us/docs/general/" id="general-option">Get started with a Team / CI environment</option>

            <option value="~/en-us/docs/tfs2015/" id="tfs2015-option">Use TFS 2015 or Visual Studio Online</option>

            <option value="~/en-us/docs/tfs2013/" id="tfs2013-option">Use TFS 2013</option>

            <option value="~/en-us/docs/jenkins/" id="jenkins-option">use Jenkins</option>

            <option value="~/en-us/docs/karma/" id="karma-option">Test with Karma</option>

            <option value="~/en-us/docs/chutzpah/" id="chutzpah-option">Test with Chutzpah</option>

        </optgroup>

        <optgroup label="Package & Publish">

            <option value="~/en-us/docs/package-app-built-with-visual-studio/" id="package-app-built-with-visual-studio-option">Package Your app</option>

            <option value="~/en-us/docs/tutorial-package-publish-readme/" id="tutorial-package-publish-readme-option">Package & Publish your app</option>

            <option value="~/en-us/docs/get-your-app-approved/" id="get-your-app-approved-option">Get your app approved</option>

            <option value="~/en-us/docs/publish-app-built-with-visual-studio/" id="publish-app-built-with-visual-studio-option">Publish your app</option>

        </optgroup>

        <optgroup label="Tutorials & Samples">

            <option value="~/en-us/docs/tutorial-ionic/" id="tutorial-ionic-option">Get started with Ionic</option>

            <option value="~/en-us/docs/O365_Files/" id="O365_Files-option">O365 Files API</option>

            <option value="~/en-us/docs/O365_Ionic/" id="O365_Ionic-option">O365 Outlook and Ionic</option>

            <option value="~/en-us/docs/convert_cordova_phonegap/" id="convert_cordova_phonegap-option">Convert a Cordova project to PhoneGap</option>

        </optgroup>

        <optgroup label="Tips & Workarounds">

            <option value="~/en-us/docs/tips-and-workarounds-general-readme/" id="tips-and-workarounds-general-readme-option">General</option>

            <option value="~/en-us/docs/tips-and-workarounds-android-readme/" id="tips-and-workarounds-android-readme-option">Android</option>

            <option value="~/en-us/docs/tips-and-workarounds-ios-readme/" id="tips-and-workarounds-ios-readme-option">iOS and OSX</option>

            <option value="~/en-us/docs/tips-and-workarounds-performance-readme/" id="tips-and-workarounds-performance-readme-option">Performance</option>

            <option value="~/en-us/docs/tips-and-workarounds-ios-ios-plugin-symlink-fix-readme/" id="tips-and-workarounds-ios-ios-plugin-symlink-fix-readme-option">Symlink and iOS plugins</option>

            <option value="~/en-us/docs/tips-and-workarounds-ios-osx-set-execute-readme/" id="tips-and-workarounds-ios-osx-set-execute-readme-option">Errors from files in Platforms folder</option>

        </optgroup>

        <optgroup label="Known Issues">

            <option value="~/en-us/docs/known-issues-general/" id="known-issues-general-option">General</option>

            <option value="~/en-us/docs/known-issues-debugger/" id="known-issues-debugger-option">Debugger</option>

            <option value="~/en-us/docs/known-issues-ripple-cordova/" id="known-issues-ripple-cordova-option">Apache Cordova & Ripple general</option>

            <option value="~/en-us/docs/known-issues-cordova5/" id="known-issues-cordova5-option">Apache Cordova 5.x.x</option>

            <option value="~/en-us/docs/known-issues-android/" id="known-issues-android-option">Android platform</option>

            <option value="~/en-us/docs/known-issues-ios/" id="known-issues-ios-option">iOS platform</option>

            <option value="~/en-us/docs/known-issues-windows/" id="known-issues-windows-option">Windows, Windows Phone 8.1</option>

            <option value="~/en-us/docs/known-issues-vs2015/" id="known-issues-vs2015-option">Visual Studio 2015</option>

            <option value="~/en-us/docs/known-issues-vs2013/" id="known-issues-vs2013-option">CTP 3.1 / Visual Studio 2013</option>

            <option value="~/en-us/docs/known-issues-npm/" id="known-issues-npm-option">NPM</option>

            <option value="~/en-us/docs/known-issues-plugin-install/" id="known-issues-plugin-install-option">Plugins</option>

        </optgroup>


</select>
</nav>
