<link rel="stylesheet" type="text/css" href="https://i-vso.sec.s-msft.com/Combined.css?resources=0:Footer.1,0:ImageSprite,1:LinkList;/Areas/VisualStudio/Themes/VStudio/Content:0,/Areas/Epx/Themes/Base/Content:1&amp;amp;v=177D318906DA313ABC1E9200FE2499C6" xmlns="http://www.w3.org/1999/xhtml" />

<div id="ux-footer" class="ltr" xmlns="http://www.w3.org/1999/xhtml">

    <div class="footerContainer">
        <div id="fourColumnFooter">
            <div data-fragmentname="Column1" id="Fragment_Column1" xmlns="http://www.w3.org/1999/xhtml">
                <div class="ListOfLinkLists">
                    <div class="listItems">

                        <div class="linkList">
                            <div class="linkListTitle">Visual Studio</div>
                            <div class="linkListDescription">
                                <div class="RichText">
                                    <style xmlns="">
                                        .linkList ul {
                                            margin: 0 !important;
                                        }
                                    </style>
                                </div>
                            </div>
                            <ul class="links">
                                <li>
                                    <a href="https://www.visualstudio.com/vs-2015-product-editions" id="Column1_1063_165" xmlns="http://www.w3.org/1999/xhtml">Visual Studio 2015 Products</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/products/visual-studio-enterprise-vs" id="Column1_1063_166" xmlns="http://www.w3.org/1999/xhtml">Enterprise</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/products/visual-studio-professional-with-msdn-vs" id="Column1_1063_167" xmlns="http://www.w3.org/1999/xhtml">Professional</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/products/visual-studio-test-professional-with-msdn-vs" id="Column1_1063_168" xmlns="http://www.w3.org/1999/xhtml">Test Professional</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/products/visual-studio-community-vs" id="Column1_1063_169" xmlns="http://www.w3.org/1999/xhtml">Community</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/products/code-vs.aspx" id="Column1_1063_243" xmlns="http://www.w3.org/1999/xhtml">Code</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/en-us/products/visual-studio-express-vs.aspx" id="Column1_1063_170" xmlns="http://www.w3.org/1999/xhtml">Express</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/products/what-is-visual-studio-online-vs" id="Column1_1063_241" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Online</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/products/tfs-overview-vs" id="Column1_1063_171" xmlns="http://www.w3.org/1999/xhtml">Team Foundation Server</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/en-us/products/compare-visual-studio-products-vs.aspx" id="Column1_1063_230" xmlns="http://www.w3.org/1999/xhtml">Compare Offerings</a>
                                </li>
                            </ul>
                        </div>

                        <div class="linkList">
                            <div class="linkListTitle">Additional Products</div>
                            <ul class="links">
                                <li>
                                    <a href="https://www.visualstudio.com/products/msdn-platforms-vs" id="Column1_1063_176" xmlns="http://www.w3.org/1999/xhtml">MSDN Platforms</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/products/msdn-os-vs" id="Column1_1063_177" xmlns="http://www.w3.org/1999/xhtml">MSDN OS</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/products/release-management-for-microsoft-visual-studio-vs" id="Column1_1063_178" xmlns="http://www.w3.org/1999/xhtml">Release Management</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/products/team-explorer-everywhere-vs" id="Column1_1063_179" xmlns="http://www.w3.org/1999/xhtml">Team Explorer Everywhere</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div data-fragmentname="Column2" id="Fragment_Column2" xmlns="http://www.w3.org/1999/xhtml">
                <div class="ListOfLinkLists">
                    <div class="listItems">

                        <div class="linkList">
                            <div class="linkListTitle">How to Buy</div>
                            <ul class="links">
                                <li>
                                    <a href="https://www.visualstudio.com/products/msdn-subscriptions-vs" id="Column2_1063_180" xmlns="http://www.w3.org/1999/xhtml">MSDN Subscriptions</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/products/how-to-buy-vs" id="Column2_1063_181" xmlns="http://www.w3.org/1999/xhtml">Visual Studio</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/pricing/visual-studio-online-pricing-vs" id="Column2_1063_182" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Online</a>
                                </li>
                            </ul>
                        </div>

                        <div class="linkList">
                            <div class="linkListTitle">Resources</div>
                            <ul class="links">
                                <li>
                                    <a href="https://msdn.microsoft.com/vstudio" target="_blank" id="Column2_1063_188" xmlns="http://www.w3.org/1999/xhtml">Visual Studio on MSDN</a>
                                </li>
                                <li>
                                    <a href="https://msdn.microsoft.com/library" target="_blank" id="Column2_1063_190" xmlns="http://www.w3.org/1999/xhtml">MSDN Library</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/products/msdn-subscriptions-vs" id="Column2_1063_191" xmlns="http://www.w3.org/1999/xhtml">MSDN Subscriptions</a>
                                </li>
                                <li>
                                    <a href="http://channel9.msdn.com/" target="_blank" id="Column2_1063_192" xmlns="http://www.w3.org/1999/xhtml">Channel 9</a>
                                </li>
                            </ul>
                        </div>

                        <div class="linkList">
                            <div class="linkListTitle">Related Sites</div>
                            <ul class="links">
                                <li>
                                    <a href="https://msdn.microsoft.com" target="_blank" id="Column2_1063_214" xmlns="http://www.w3.org/1999/xhtml">MSDN</a>
                                </li>
                                <li>
                                    <a href="https://www.microsoft.com/net" target="_blank" id="Column2_1063_215" xmlns="http://www.w3.org/1999/xhtml">Microsoft .NET</a>
                                </li>
                                <li>
                                    <a href="https://www.microsoft.com/server-cloud" target="_blank" id="Column2_1063_216" xmlns="http://www.w3.org/1999/xhtml">Server and Cloud Platform</a>
                                </li>
                                <li>
                                    <a href="http://azure.microsoft.com" target="_blank" id="Column2_1063_217" xmlns="http://www.w3.org/1999/xhtml">Microsoft Azure</a>
                                </li>
                            </ul>
                        </div>

                        <div class="linkList">
                            <div class="linkListTitle">Jobs</div>
                            <ul class="links">
                                <li>
                                    <a href="https://www.visualstudio.com/vso-jobs-vs" id="Column2_1063_247" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Online Jobs</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div data-fragmentname="Column3" id="Fragment_Column3" xmlns="http://www.w3.org/1999/xhtml">
                <div class="ListOfLinkLists">
                    <div class="listItems">

                        <div class="linkList">
                            <div class="linkListTitle">Programs</div>
                            <ul class="links">
                                <li>
                                    <a href="https://www.dreamspark.com/" target="_blank" id="Column3_1063_211" xmlns="http://www.w3.org/1999/xhtml">DreamSpark for Students</a>
                                </li>
                                <li>
                                    <a href="https://www.microsoft.com/bizspark/" target="_blank" id="Column3_1063_212" xmlns="http://www.w3.org/1999/xhtml">BizSpark for Startups</a>
                                </li>
                                <li>
                                    <a href="https://vsipprogram.com/" target="_blank" id="Column3_1063_213" xmlns="http://www.w3.org/1999/xhtml">VSIP Program</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/integrate/default-vsi" target="_blank" id="Column3_1063_218" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Online Integrate</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/products/free-tools-for-student-developers-vs" id="Column3_1063_219" xmlns="http://www.w3.org/1999/xhtml">GitHub Student Pack</a>
                                </li>
                            </ul>
                        </div>

                        <div class="linkList">
                            <div class="linkListTitle">Recent Developer Events</div>
                            <ul class="links">
                                <li>
                                    <a href="https://channel9.msdn.com/Events/Visual-Studio/Visual-Studio-2015-Final-Release-Event" id="Column3_1063_249" xmlns="http://www.w3.org/1999/xhtml">Visual Studio 2015 Release Event</a>
                                </li>
                                <li>
                                    <a href="https://channel9.msdn.com/Events/dotnetConf/2015" target="_blank" id="Column3_1063_239" xmlns="http://www.w3.org/1999/xhtml">.NET Conf 2015</a>
                                </li>
                                <li>
                                    <a href="http://channel9.msdn.com/Events/Visual-Studio/Connect-event-2014" target="_blank" id="Column3_1063_220" xmlns="http://www.w3.org/1999/xhtml">Connect(); 2014</a>
                                </li>
                                <li>
                                    <a href="http://channel9.msdn.com/Events/Ignite/2015" id="Column3_1063_244" xmlns="http://www.w3.org/1999/xhtml">Ignite 2015</a>
                                </li>
                                <li>
                                    <a href="http://channel9.msdn.com/Events/Build/2015" target="_blank" id="Column3_1063_223" xmlns="http://www.w3.org/1999/xhtml">Build 2015</a>
                                </li>
                            </ul>
                        </div>

                        <div class="linkList">
                            <div class="linkListTitle">News</div>
                            <ul class="links">
                                <li>
                                    <a href="https://www.visualstudio.com/news/news-overview-vs" id="Column3_1063_227" xmlns="http://www.w3.org/1999/xhtml">Overview</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/news/release-archive-vso" id="Column3_1063_231" xmlns="http://www.w3.org/1999/xhtml">VSO Features Timeline</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/en-us/news/feature-timeline-vs" id="Column3_1063_242" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Features Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div data-fragmentname="Column4" id="Fragment_Column4" xmlns="http://www.w3.org/1999/xhtml">
                <div class="ListOfLinkLists">
                    <div class="listItems">

                        <div class="linkList">
                            <div class="linkListTitle">Connect</div>
                            <ul class="links">
                                <li>
                                    <a href="https://www.facebook.com/visualstudio" target="_blank" id="Column4_1063_194" xmlns="http://www.w3.org/1999/xhtml">Facebook</a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/visualstudio" target="_blank" id="Column4_1063_195" xmlns="http://www.w3.org/1999/xhtml">Twitter</a>
                                </li>
                                <li>
                                    <a href="https://plus.google.com/+visualstudio" target="_blank" id="Column4_1063_197" xmlns="http://www.w3.org/1999/xhtml">Google+</a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/user/VisualStudio" target="_blank" id="Column4_1063_196" xmlns="http://www.w3.org/1999/xhtml">YouTube</a>
                                </li>
                                <li>
                                    <a href="https://channel9.msdn.com/VisualStudio" id="Column4_1063_246" xmlns="http://www.w3.org/1999/xhtml">Channel 9</a>
                                </li>
                            </ul>
                        </div>

                        <div class="linkList">
                            <div class="linkListTitle">Blogs</div>
                            <ul class="links">
                                <li>
                                    <a href="http://blogs.msdn.com/b/visualstudio/" target="_blank" id="Column4_1063_199" xmlns="http://www.w3.org/1999/xhtml">The Visual Studio blog</a>
                                </li>
                                <li>
                                    <a href="http://blogs.msdn.com/b/somasegar/" target="_blank" id="Column4_1063_200" xmlns="http://www.w3.org/1999/xhtml">S. Somasegar</a>
                                </li>
                                <li>
                                    <a href="http://blogs.msdn.com/b/bharry/" target="_blank" id="Column4_1063_201" xmlns="http://www.w3.org/1999/xhtml">Brian Harry</a>
                                </li>
                                <li>
                                    <a href="http://blogs.msdn.com/b/stevengu/" target="_blank" id="Column4_1063_202" xmlns="http://www.w3.org/1999/xhtml">Steve Guggenhiemer</a>
                                </li>
                                <li>
                                    <a href="http://blogs.msdn.com/b/developer-tools/" target="_blank" id="Column4_1063_204" xmlns="http://www.w3.org/1999/xhtml">Developer Tools Blogs</a>
                                </li>
                            </ul>
                        </div>

                        <div class="linkList">
                            <div class="linkListTitle">Support</div>
                            <ul class="links">
                                <li>
                                    <a href="http://azure.microsoft.com/en-us/support/legal/sla/visual-studio-online/v1_0/" target="_blank" id="Column4_1063_232" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Online SLAs</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/support/support-overview-vs" id="Column4_1063_233" xmlns="http://www.w3.org/1999/xhtml">Support Options</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/support/faq-vs" id="Column4_1063_234" xmlns="http://www.w3.org/1999/xhtml">Support FAQs</a>
                                </li>
                                <li>
                                    <a href="https://www.visualstudio.com/support/support-overview-vs" id="Column4_1063_235" xmlns="http://www.w3.org/1999/xhtml">Service Status</a>
                                </li>
                                <li>
                                    <a href="https://connect.microsoft.com/visualstudio" target="_blank" id="Column4_1063_236" xmlns="http://www.w3.org/1999/xhtml">Submit a Bug</a>
                                </li>
                                <li>
                                    <a href="https://visualstudio.uservoice.com/forums/121579-visual-studio" target="_blank" id="Column4_1063_237" xmlns="http://www.w3.org/1999/xhtml">Submit an Idea</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="baseFooter">
            <div id="leftBaseFooter">

                <form class="selectLocale" id="selectLocaleForm" action="https://www.visualstudio.com/en-us/selectlocale-vs">
                    <input type="hidden" name="fromPage" value=":returnUrl:" />
                    <a href="#" onclick="$('#selectLocaleForm').submit();return false;" title="Change your language">United States (English)</a>
                </form>


            </div>
            <div data-fragmentname="BaseFooterLinks" id="Fragment_BaseFooterLinks" xmlns="http://www.w3.org/1999/xhtml">

                <div class="linkList">
                    <ul class="links horizontal">
                        <li>
                            <a href="https://www.visualstudio.com/support/support-overview-vs" id="BaseFooterLinks_1063_144" xmlns="http://www.w3.org/1999/xhtml">Contact us</a>
                        </li>
                        <li>
                            <a href="https://go.microsoft.com/fwlink/?LinkID=264782&amp;clcid=0x409" id="BaseFooterLinks_1063_145" xmlns="http://www.w3.org/1999/xhtml">Privacy</a>
                        </li>
                        <li>
                            <a href="https://go.microsoft.com/fwlink/?LinkID=266231&amp;clcid=0x409" id="BaseFooterLinks_1063_146" xmlns="http://www.w3.org/1999/xhtml">Terms of use</a>
                        </li>
                        <li>
                            <a href="https://www.microsoft.com/en-us/legal/intellectualproperty/Trademarks/EN-US.aspx" id="BaseFooterLinks_1063_147" xmlns="http://www.w3.org/1999/xhtml">Trademarks</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="rightBaseFooter">
                © 2015 Microsoft
                <span class="microsoftLogo" title="Microsoft"></span>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script type="text/javascript" xmlns="http://www.w3.org/1999/xhtml">
/*<![CDATA[*/
/**/
(window.MTPS || (window.MTPS = {})).cdnDomains || (window.MTPS.cdnDomains = {
	"image": "https://i3-vso.sec.s-msft.com",
	"js": "https://i2-vso.sec.s-msft.com",
	"css": "https://i-vso.sec.s-msft.com",
	"xap": "https://i-vso.sec.s-msft.com"
});
/**/
/*]]>*/
</script>