<link rel="stylesheet" type="text/css" href="https://i-vso.sec.s-msft.com/Combined.css?resources=0:Header.1,0:ImageSprite,1:LinkList;/Areas/VisualStudio/Themes/VStudio/Content:0,/Areas/Epx/Themes/Base/Content:1&amp;amp;v=27B8790FB5AC5DAAD145CCF77F5C8C37" xmlns="http://www.w3.org/1999/xhtml" />

<input type="hidden" id="theme" value="visualstudio" xmlns="http://www.w3.org/1999/xhtml" />
<input type="hidden" id="isHeaderBleeding" value="true" xmlns="http://www.w3.org/1999/xhtml" />
<div id="ux-header" class="Chrome ltr" xmlns="http://www.w3.org/1999/xhtml">


    <div class="upperBand">
        <div class="upperBandContent">
            <div class="left">
                <div data-fragmentname="SiteLogoLink" id="Fragment_SiteLogoLink" xmlns="http://www.w3.org/1999/xhtml">
                    <a href="https://www.visualstudio.com" title="Visual Studio" id="SiteLogoLink_43189_1" xmlns="http://www.w3.org/1999/xhtml">https://www.visualstudio.com</a>
                </div>
            </div>
            <div class="right">
                <div data-fragmentname="SubscriptionsLink" id="Fragment_SubscriptionsLink" xmlns="http://www.w3.org/1999/xhtml">
                    <a href="https://msdn.microsoft.com/subscriptions/manage/hh442900" title="Click to access your MSDN subscription benefits" id="SubscriptionsLink_43189_3" xmlns="http://www.w3.org/1999/xhtml">MSDN Subscriptions</a>
                </div>



                <div data-fragmentname="SearchBox" id="Fragment_SearchBox" xmlns="http://www.w3.org/1999/xhtml">
                    <div class="SearchBox">
                        <!--<form id="HeaderSearchForm" name="HeaderSearchForm" method="get">
                            <input id="HeaderSearchTextBox" name="query" type="text" maxlength="200" onfocus="Epx.Controls.SearchBox.watermarkFocus(this, this.title, 'SearchBoxOnFocus')" onblur="return Epx.Controls.SearchBox.watermarkBlur(this, this.title, 'SearchBoxOnFocus')" />
                            <input id="RefinementId" name="refinement" type="hidden" value="198" />
                            <button id="HeaderSearchButton" value="" type="submit" class="header-search-button"></button>
                        </form>
                        <a tabindex="0" class="metroSearchButton" onclick="Epx.Controls.SearchBox.metroButtonClick(this)" title="Search here"></a>-->
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="lowerBand">
        <div class="lowerBandContent">
            <div data-fragmentname="HeaderToc" id="Fragment_HeaderToc" xmlns="http://www.w3.org/1999/xhtml">
                <nav>
                    <ul class="dev-navigation">
                        <li class="nav-expander">
                            <a class="trigger" href="#">Products</a>
                            <div class="nav-exdpander-wrapper">
                                <div class="nav-expander-div">
                                    <div>
                                        <ul>
                                            <li class="nav-has-submenu default">
                                                <a href="#">
                                                    <span>Top Products</span>
                                                </a>
                                                <div class="nav-submenu">
                                                    <div class="ListOfLinkLists">
                                                        <div class="listItems">

                                                            <div class="linkList">
                                                                <ul class="links">
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/products/vs-2015-product-editions" id="HeaderToc_1062_313" xmlns="http://www.w3.org/1999/xhtml">Visual Studio 2015 Products</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/products/visual-studio-enterprise-vs" id="HeaderToc_1062_294" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Enterprise</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/products/visual-studio-professional-with-msdn-vs" id="HeaderToc_1062_312" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Professional</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/products/visual-studio-community-vs" id="HeaderToc_1062_204" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Community</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/products/code-vs.aspx" id="HeaderToc_1062_279" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Code</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/products/what-is-visual-studio-online-vs" id="HeaderToc_1062_208" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Online</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/products/tfs-overview-vs" id="HeaderToc_1062_206" xmlns="http://www.w3.org/1999/xhtml">Team Foundation Server</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nav-has-submenu">
                                                <a href="#">
                                                    <span>Other Products</span>
                                                </a>
                                                <div class="nav-submenu">
                                                    <div class="ListOfLinkLists">
                                                        <div class="listItems">

                                                            <div class="linkList">
                                                                <ul class="links">
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/products/visual-studio-test-professional-with-msdn-vs" id="HeaderToc_1062_302" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Test Professional</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/products/team-explorer-everywhere-vs" id="HeaderToc_1062_303" xmlns="http://www.w3.org/1999/xhtml">Team Explorer Everywhere</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/application-insights-vs" id="HeaderToc_1062_307" xmlns="http://www.w3.org/1999/xhtml">Application Insights</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/products/msdn-platforms-vs" id="HeaderToc_1062_306" xmlns="http://www.w3.org/1999/xhtml">MSDN Platforms</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/products/visual-studio-express-vs" id="HeaderToc_1062_300" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Express</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nav-has-submenu">
                                                <a href="#">
                                                    <span>How to Buy</span>
                                                </a>
                                                <div class="nav-submenu">
                                                    <div class="ListOfLinkLists">
                                                        <div class="listItems">

                                                            <div class="linkList">
                                                                <ul class="links">
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/products/how-to-buy-vs" id="HeaderToc_1062_308" xmlns="http://www.w3.org/1999/xhtml">Visual Studio and MSDN Subscriptions</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/pricing/visual-studio-online-pricing-vs" id="HeaderToc_1062_310" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Online</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nav-has-submenu">
                                                <a href="#">
                                                    <span>Compare</span>
                                                </a>
                                                <div class="nav-submenu">
                                                    <div class="ListOfLinkLists">
                                                        <div class="listItems">

                                                            <div class="linkList">
                                                                <ul class="links">
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/products/compare-visual-studio-2015-products-vs" id="HeaderToc_1062_305" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Offerings</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/visual-studio-online-feature-matrix-vs" id="HeaderToc_1062_306" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Online Features</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-expander">
                            <a class="trigger" href="#">Features</a>
                            <div class="nav-exdpander-wrapper">
                                <div class="nav-expander-div">
                                    <div>
                                        <ul>
                                            <li class="nav-has-submenu default">
                                                <a href="#">
                                                    <span>Application Development</span>
                                                </a>
                                                <div class="nav-submenu">
                                                    <div class="ListOfLinkLists">
                                                        <div class="listItems">

                                                            <div class="linkList">
                                                                <ul class="links">
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/mobile-app-development-vs" id="HeaderToc_1062_251" xmlns="http://www.w3.org/1999/xhtml">Mobile</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/modern-web-tooling-vs" id="HeaderToc_1062_249" xmlns="http://www.w3.org/1999/xhtml">Web</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/azure-tools-vs" id="HeaderToc_1062_293" xmlns="http://www.w3.org/1999/xhtml">Cloud</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/windows-apps-games-vs" id="HeaderToc_1062_248" xmlns="http://www.w3.org/1999/xhtml">Windows</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/office-tools-vs" id="HeaderToc_1062_250" xmlns="http://www.w3.org/1999/xhtml">Office</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/game-development-vs" id="HeaderToc_1062_311" xmlns="http://www.w3.org/1999/xhtml">Games</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/node-js-vs" id="HeaderToc_1062_276" xmlns="http://www.w3.org/1999/xhtml">Node.js</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/python-vs" id="HeaderToc_1062_312" xmlns="http://www.w3.org/1999/xhtml">Python</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/net-development-vs" id="HeaderToc_1062_317" xmlns="http://www.w3.org/1999/xhtml">.NET</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nav-has-submenu">
                                                <a href="#">
                                                    <span>Lifecycle Management</span>
                                                </a>
                                                <div class="nav-submenu">
                                                    <div class="ListOfLinkLists">
                                                        <div class="listItems">

                                                            <div class="linkList">
                                                                <ul class="links">
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/app-lifecycle-management-vs" id="HeaderToc_1062_290" xmlns="http://www.w3.org/1999/xhtml">Overview<span class="Apple-tab-span" style="white-space:pre;" xmlns=""></span></a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/agiletools-vs" id="HeaderToc_1062_293" xmlns="http://www.w3.org/1999/xhtml">Agile Software Development</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/version-control-vs" id="HeaderToc_1062_294" xmlns="http://www.w3.org/1999/xhtml">Version Control</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/java-vs" id="HeaderToc_1062_295" xmlns="http://www.w3.org/1999/xhtml">Tools for Java Teams</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/release-management-vs" id="HeaderToc_1062_314" xmlns="http://www.w3.org/1999/xhtml">Release Management</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/reporting-vs" id="HeaderToc_1062_315" xmlns="http://www.w3.org/1999/xhtml">Reporting</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/devops-vs" id="HeaderToc_1062_296" xmlns="http://www.w3.org/1999/xhtml">Tools for DevOps</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/vso-cloud-load-testing-vs" id="HeaderToc_1062_297" xmlns="http://www.w3.org/1999/xhtml">Cloud-Based Load Testing</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/testing-tools-vs" id="HeaderToc_1062_298" xmlns="http://www.w3.org/1999/xhtml">Testing Tools</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nav-has-submenu">
                                                <a href="#">
                                                    <span>Extend and Integrate</span>
                                                </a>
                                                <div class="nav-submenu">
                                                    <div class="ListOfLinkLists">
                                                        <div class="listItems">

                                                            <div class="linkList">
                                                                <ul class="links">
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/integrate" id="HeaderToc_1062_308" xmlns="http://www.w3.org/1999/xhtml">Visual Studio</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/integrate/explore/explore-vso-vsi" id="HeaderToc_1062_309" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Online</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://msdn.microsoft.com/library/bb130146" id="HeaderToc_1062_310" xmlns="http://www.w3.org/1999/xhtml">Team Foundation Server</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-expander">
                            <a class="trigger" href="#">Downloads</a>
                            <div class="nav-exdpander-wrapper">
                                <div class="nav-expander-div">
                                    <div>
                                        <ul>
                                            <li class="nav-has-submenu default">
                                                <a href="#">
                                                    <span>Top Downloads</span>
                                                </a>
                                                <div class="nav-submenu">
                                                    <div class="ListOfLinkLists">
                                                        <div class="listItems">

                                                            <div class="linkList">
                                                                <ul class="links">
                                                                    <li>
                                                                        <a href="https://go.microsoft.com/fwlink/?LinkId=615437&amp;clcid=0x409" id="HeaderToc_1062_304" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Enterprise</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://go.microsoft.com/fwlink/?LinkId=532606&amp;clcid=0x409" id="HeaderToc_1062_254" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Community</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://code.visualstudio.com/download" id="HeaderToc_1062_280" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Code</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://go.microsoft.com/fwlink/?LinkId=615439&amp;clcid=0x409" id="HeaderToc_1062_256" xmlns="http://www.w3.org/1999/xhtml">Team Foundation Server</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/downloads/download-visual-studio-vs" id="HeaderToc_1062_73" xmlns="http://www.w3.org/1999/xhtml">All Downloads</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nav-has-submenu">
                                                <a href="#">
                                                    <span>Extensions and Integrations</span>
                                                </a>
                                                <div class="nav-submenu">
                                                    <div class="ListOfLinkLists">
                                                        <div class="listItems">

                                                            <div class="linkList">
                                                                <ul class="links">
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/cordova-vs" id="HeaderToc_1062_296" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Tools for Apache Cordova</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/unitytools-vs" id="HeaderToc_1062_297" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Tools for Unity</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://nodejstools.codeplex.com/" id="HeaderToc_1062_298" xmlns="http://www.w3.org/1999/xhtml">Node.js Tools for Visual Studio</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/python-vs" id="HeaderToc_1062_299" xmlns="http://www.w3.org/1999/xhtml">Python Tools for Visual Studio</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="http://blogs.msdn.com/b/dotnet/p/nugetpackages.aspx" id="HeaderToc_1062_300" xmlns="http://www.w3.org/1999/xhtml">.NET Nuget Packages</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://visualstudiogallery.msdn.microsoft.com/" id="HeaderToc_1062_301" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Gallery</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/features/vso-integrations-directory-vs" id="HeaderToc_1062_302" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Online Integrations</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-expander">
                            <a href="https://www.visualstudio.com/news/news-overview-vs">News</a>
                        </li>
                        <li class="nav-expander">
                            <a href="https://www.visualstudio.com/support/support-overview-vs">Support</a>
                        </li>
                        <li class="nav-expander">
                            <a class="trigger" href="#">Documentation</a>
                            <div class="nav-exdpander-wrapper">
                                <div class="nav-expander-div">
                                    <div>
                                        <ul>
                                            <li class="nav-has-submenu default">
                                                <a href="#">
                                                    <span>Documentation</span>
                                                </a>
                                                <div class="nav-submenu">
                                                    <div class="ListOfLinkLists">
                                                        <div class="listItems">

                                                            <div class="linkList">
                                                                <ul class="links">
                                                                    <li>
                                                                        <a href="https://msdn.microsoft.com/library/dd831853.aspx" id="HeaderToc_1062_273" xmlns="http://www.w3.org/1999/xhtml">Visual Studio on MSDN</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.visualstudio.com/get-started/overview-of-get-started-tasks-vs" id="HeaderToc_1062_272" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Online</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://code.visualstudio.com/docs" id="HeaderToc_1062_281" xmlns="http://www.w3.org/1999/xhtml">Visual Studio Code</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div data-fragmentname="GetStartedLink" id="Fragment_GetStartedLink" xmlns="http://www.w3.org/1999/xhtml">
                <a href="https://www.visualstudio.com/products/free-developer-offers-vs.aspx" title="Free Visual Studio" id="GetStartedLink_43189_6" xmlns="http://www.w3.org/1999/xhtml">
                    <span lang="EN-US" style="line-height:107%;font-family:'Calibri',sans-serif;font-size:11pt;" xmlns="">Free Visual Studio</span>
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" xmlns="http://www.w3.org/1999/xhtml">
/*<![CDATA[*/
/**/
(window.MTPS || (window.MTPS = {})).cdnDomains || (window.MTPS.cdnDomains = {
	"image": "https://i3-vso.sec.s-msft.com",
	"js": "https://i2-vso.sec.s-msft.com",
	"css": "https://i-vso.sec.s-msft.com",
	"xap": "https://i-vso.sec.s-msft.com"
});
/**/
/*]]>*/
</script>
<script type="text/javascript" src="https://i2-vso.sec.s-msft.com/Areas/VisualStudio/Themes/VStudio/Content/SearchBox.js?v=635768425557209423" xmlns="http://www.w3.org/1999/xhtml"></script>
<script type="text/javascript" src="https://i1.services.social.microsoft.com/search/Widgets/SearchBox.jss?boxid=HeaderSearchTextBox&amp;btnid=HeaderSearchButton&amp;brand=Msdn&amp;loc=en-us&amp;Refinement=198&amp;focusOnInit=false&amp;iroot=vscom&amp;emptyWatermark=true&amp;searchButtonTooltip=Search here" xmlns="http://www.w3.org/1999/xhtml"></script>
<script type="text/javascript" src="https://i2-vso.sec.s-msft.com/Areas/VisualStudio/Themes/VStudio/Content/Header.js?v=635768425557678139" xmlns="http://www.w3.org/1999/xhtml"></script>