<nav id="docs-navbar" class="docs-nav visible-md visible-lg" data-spy="affix" data-offset-top="60" data-offset-bottom="1150">
    <ul class="nav" id="main-nav">
        <li id="support_element"><a class="docs-home" href="http://stackoverflow.com/questions/tagged/visual-studio-cordova" target="_blank">Get Help</a></li>
        <li id="contribute_element"><a class="docs-home" href="~/en-us/docs/cordova-docs-contributing/">Contribute</a></li>
        <li id="feedback_element"><a class="docs-home" href="mailto: vscordovafeedback@microsoft.com?subject=Content%20Feedback" target="_top">Give Feedback</a></li> 

    </ul>
    <br/>
    <div>
        <a href="https://twitter.com/vscordovatools" class="twitter-follow-button" data-show-count="false">Follow @@vscordovatools</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
    </div>
</nav>

<nav id="mobile-nav" class="docs-nav hidden-md hidden-lg">
    <ul class="nav" id="main-nav">
        <li id="support_element"><a class="docs-home" href="http://stackoverflow.com/questions/tagged/visual-studio-cordova" target="_blank">Get Help</a></li>
        <li id="contribute_element"><a class="docs-home" href="~/en-us/docs/cordova-docs-contributing/">Contribute</a></li>
        <li id="feedback_element"><a class="docs-home" href="mailto: vscordovafeedback@microsoft.com?subject=Content%20Feedback" target="_top">Give Feedback</a></li>
    </ul>
    <br />
    <div>
        <a href="https://twitter.com/vscordovatools" class="twitter-follow-button" data-show-count="false">Follow @@vscordovatools</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
    </div>
</nav>