<form class="nav-search search-form">
    <div class="input-group">
        <input type="text" name="q" class="search-box form-control" placeholder="Search" />
        <span class="input-group-btn">
            <button class="btn" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</form>