@model ACOM.DocumentationSample.Models.DocumentationArticlesListModel

@{
    ViewBag.Page = "home";
    ViewBag.Title = "Visual Studio - Tools for Apache Cordova";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
  @Model.PageTitle - @Model.Count Articles
</h1>

<ul>
  @foreach (var article in Model.Articles)
  {
    <li><a href="/en-us/docs/@article.Slug/">@article.ArticleTitle</a></li>
  }
</ul>
